{% extends 'index.html' %}
{% block buttons %}
<a href="/"><h2 class="home">Всі пости</h2></a>
<a href="/create_post"><h2 class="new">Новий пост</h2></a>
{% endblock %}
{% block content %}
<div class="blog">
<form method="post">

    <input type="text" name="login" id="login"> <label>Логін </label><br><br>
    <input type="password" name="password" id="password"><label>Пароль</label><br><br>
    <input type="submit" value="Увійти"><br><br>
</form>
<a href="/register"><p>Створити новий акаунт</p></a>
</div>
{% endblock %}
