{% extends 'index.html' %}
{% block buttons %}
<a href="/main"><h2 class="home">Головна</h2></a>
<a href="/create_post"><h2 class="new">Створити пост</h2></a>
<a href="/logout"><h2 class="login">Вийти</h2></a>
<h2 class="user">{{current_user.name}}</h2>
{% endblock %}
{% block content %}
<div class="blog">

    {% for el in articles %}
    <h2>{{name}}</h2>
    <h2>{{el.id}}</h2>
    <p>{{el.posts}}</p>
    <p><b>{{el.date.date()}}</b></p>
    <a href="/{{ el.id }}/delete"><button value="Видалити"> Видалити</button></a>
    {% endfor %}
</div>
<br>
{% endblock %}
