<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/style.css">
    <title>Like_twitter.com.ua</title>
</head>
<body>
<img class="img" src="static/images.png">
<a href="/"><h2 class="home">Всі пости</h2></a>
<a href="/create_post"><h2 class="new">Новий пост</h2></a>
<br>
<br>
<br>
<br>
<div class="block1"></div>
<hr class="line">
<div class="blog">
    <form method="post">
        <p>Введіть текст посту</p><br>
        <textarea cols="120" rows="17" id="posts" name="posts" type="text"></textarea><br>
        <input type="submit" value="Залишити пост">
    </form>
</div>

</body>
</html>